.ruleDescriptor--flex {
  display: flex;
  flex-direction: column;
}

.precondition {
  font-size: 95%;
  display: flex;
  margin: 0.6rem 0;
}

.precondition__entity {
  text-decoration: underline;
  font-weight: 700;
  padding: 0 5px;
  cursor: pointer;
  font-style: italic;
}
.precondition__entity:hover {
  color: gray;
}

.field label {
  margin-right: 1rem;
}

.ruleDescriptor__buttonContianer {
  margin: 1rem 0;
  display: flex;
}
.ruleDescriptor__buttonContianer .btn {
  flex: 1;
}

.condition--label {
  border-bottom: 1px dotted;
  max-width: max-content;
  border-color: blue;
}